<!-- MODIFY THIS FOR TEMPLATE FOR ABOUT US PAGE PAGE -->

{% extends 'base.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/survey.css' %}" />
{% endblock %}
<!--  -->
{% block extra_title %}About Us{% endblock %}

<!--  -->
{% block content %}

<div class="grid-container">
  <p class="developer">Alessandro</p>
  <p class="developer">Laura</p>
  <p class="developer">Carlos</p>
  <p class="developer">Begard</p>
  <p class="developer">Darrach</p>
  <p class="developer">Varun</p>
</div>

<!--  -->

{% endblock %}
