<!-- MODIFY THIS FOR THE HOME PAGE - WILL LATER CHANGE TO PROFILE PAGE -->

{% extends 'base.html' %}
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<section>
    <div id="hero">
        <div id="hero-box">
            <h2>Strength in every step: walk the journey with us!</h2>
        </div>
        <div id="survey-button">
          <a href="{% url 'survey' %}">Survey</a>
        </div>
        <a href="{% url 'about_us' %}">About us</a>
    </div>
</section>
{% endblock %}