<!-- MODIFY THIS FOR THE HOME PAGE - WILL LATER CHANGE TO PROFILE PAGE -->

{% extends 'base.html' %}
{% load static %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<section>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold" style="color: #CD2A51; -webkit-text-stroke: 1.5px #fff; font-size: 80px">wellmentor</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4" style="font-size: 40px; color: #FAC041;">Strength in Every Step: Walk the Journey to Wellness</p>
            </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <div id="survey-button">
                <a href="{% url 'survey' %}">Start the Survey!</a>
            </div>
        </div>
    </div>
  </div>
</section>
{% endblock %}