main {
  background: url("../images/hero.jpeg") center center no-repeat;
  background-size: cover;
}

#hero-box {
    font-size: 120%;
    letter-spacing: 4px;
    text-align: center;
    color: white;
    width: 40%;
    height: 25%;
    padding: 1% 1% 1% 1%;
    border-radius: 25px;
    margin: auto;
    background-clip: padding-box;
    background-color: #ce3d5e;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
#survey-button {
    margin-top: 20px;
  }
  
#survey-button a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ce3d5e;
    background-color: #FAC041;
    border: 2px solid #a5656f;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
#survey-button a:hover {
    background-color: #fff;
    color: #000;
  }