/* STYLING THE SURVEY ELEMENTS */

#question {
  color: whitesmoke;
  max-width: 450px;
  background-color: rgba(12, 74, 110);
  padding: 1rem;
  border-radius: 25px;
  margin: 10px;
}

#question h2 {
  line-height: 2ch;
  font-size: x-large;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.3s ease-out forwards;
}

#answers button {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: black;
  font-size: 2rem;
}

#answers button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

#answers button:nth-child(1) {
  background: var(--clr-red);
}
#answers button:nth-child(2) {
  background: var(--clr-yellow);
}
#answers button:nth-child(3) {
  background: var(--clr-blue);
}
#answers button:nth-child(4) {
  background: var(--clr-green);
}

/* Animations */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ABOUT US */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 960px;
}

.developer {
  padding: 3rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-size: x-large;
  background: var(--clr-blue);
}

.card {
  padding: 3rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-transform: uppercase;
  font-size: x-large;
  background: whitesmoke;
}


/* hidden form */

.hidden {
  display: none;
}




/* SURVEY RESULTS */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

body {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    background: lightgray;
    height: 100vh;
    flex-direction: column;
}

h1.results {
  color: #CD2A51;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 8rem !important;
  margin-bottom: 3rem;
}

.container {
    width: 60%;
}

.col-md-4 {
    display: flex;
    justify-content: center;
}

.results-card {
    width: 100px;
    height: 150px;
}

.bar-title {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #CD2A51;
    text-transform: capitalize;
    font-weight: 600;

}

.bar-title {
display: flex;
align-items: center; 
justify-content: center; 
}

.bar-title i {
font-size: 20px; 
color: #865527;
}

.bar-title span {
font-size: 20px; 
margin-left: 5px; 
}

