<!-- MODIFY THIS FOR THE HOME PAGE - WILL LATER CHANGE TO PROFILE PAGE -->

{% extends 'base.html' %}
<!--  -->
{% block content %}
<h1>User Profiles</h1>
<ul>
  {% for profile in user_profiles %}
  <li>{{ profile.user.username }}</li>
  <li>{{ profile.bio }}</li>
  <li>{{ profile.physical_health }}</li>
  <li>{{ profile.emotional_health }}</li>
  <li>{{ profile.social_health }}</li>
  <li>{{ profile.professional_health }}</li>

  {% endfor %}

  <a href="{% url 'survey' %}">Survey</a>
</ul>
{% endblock %}
