<!-- MODIFY THIS FOR THE NAV BAR STYLING -->
<nav id="main-nav">
  <div>
    Logo
    <img src="" alt="logo"/>
  </div>
  <ul>
    <li>
      <a href="{% url 'home' %}">
        Home
      </a>
    </li>

    <li>
      <a href="{% url 'about_us' %}">
        About Us
      </a>
    </li>

    <ul class="navbar-nav mb-2 mb-lg-0">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link text-capitalize" href="{% url 'profile' %}"
          ><i class="fa-solid fa-user"></i> Hello {{ user.username }}</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
      </li>
      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">Logout</a>
      </li>
    {% endif %}
    

  </ul>
</nav>

